{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }]
  ]
}
