{
    "env": {
        "development": {
            "presets": ["next/babel", "flow"]
        },
        "production": {
            "presets": ["next/babel", "flow"]
        },
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "modules": "commonjs"
                    }
                ],
                "next/babel"
            ]
        }
    },
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ],
        "babel-plugin-inline-import-graphql-ast"
    ]
}
