import { Helmet } from 'react-helmet';
import PropTypes from 'prop-types';
import App from '../components/App';

const Default = props => (
  <App>
    <Helmet>
      <title>
        {props.title !== '' ? props.title : ''}
      </title>
    </Helmet>
    {props.children}
  </App>
);

Default.propTypes = {
  title: PropTypes.string,
  url: PropTypes.object.isRequired,
  children: PropTypes.element.isRequired
};

Default.defaultProps = {
  title: ''
};

export default Default;
